<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 首页 </title>
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/es5-shim@4.5.15/es5-shim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>

<div id="item">index</div>
<a href="./views/cart.html">cart</a>
<p class="h5">iconfont图标</p>
<span class="iconfont icon-arrow-right"></span>
<p class="h5">svg图标</p>
<svg class="svg-icon" aria-hidden="true">
    <use xlink:href="./icon/svg/sprite.svg#icon-back"></use>
</svg>
<p class="h5">img图标标签</p>
<img src="../../assets/images/01-img.png" alt="">
<p class="h5">css背景图</p>
<div class="bg-img"></div>
<p class="h5">css跨浏览器兼容</p>
<p class="h5">只有生产环境有兼容</p>
<input type="text" class="xxx">
<div class="Compatible">
    <div>display:flex布局 左侧</div>
    <div>display:flex布局 中</div>
    <div>display:flex布局 右侧</div>
</div>
</body>
</html>
